@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET and Azure 😂🤣😥change from GitLab 10 use token for connection + use merge request</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
